<div id="basket">
	<div id="basket-items">
    <% @basket_items.each do |basket_item| %>
      <%= render partial: 'basket/basket_item', object: basket_item %>
    <% end %>
  </div>
  <hr>
  <h3> Your current basket price is <%= current_basket.subtotal %> €</h3>
</div>
