<div id="basket" class="row">
  <div id="basket-items" class="col-8">
    <%= render "basket/basket_items" %>
  </div>
  <div id="total-price" class="col-4">
    <%= render "basket/total_price" %>
  </div>
</div>