.navbar {
  background-color: $base-green;

  .btn-outline-light {
    &:hover {
      color: #000;
      background-color: $green-l-1;
      color: white;
    }

    i{
      font-size: 45px;
    }
  }
}
