.products-container {
  width: 60%;
  margin: 0 auto;
  cursor: default;

  .card {
    border: 1px $base-green solid;

    .card-body {
      .product-card-title {
        color: $base-green;
        font-weight: bolder;
        margin-bottom: 0.5rem;

        .product-card-name {
          font-size: 1.2em
        }

        .product-card-price {
          text-align: right;
        }
      }

      .add-to-basket-group {
        padding: 0 10px;

        .add-to-basket-quantity{
          text-align: center;
        }

        .add-to-basket-button {
          background-color: $base-green;
          border: 1px $base-green solid;
          border-radius: 2px;
          color: white;

          i {
            font-size: 1.5em;
          }

          &:hover {
            background: $green-l-1;
          }
        }
      }
    }

    &:hover {
      box-shadow: 5px 10px 18px #888888;
    }
  }
}
